@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

/* General body code */
body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat', sans-serif;
}

/* table */
#todo-app {
    margin-top: 900px;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
}
#todo-app h1 {
    text-align: center;
}

td{
    text-align: center;
}

th{
    font-weight: 500;
    font-size: 26px;
    padding: 20px 40px;
}

.add-button{
    position: fixed;
    margin: 40px 40px;
    bottom: 0%;
    right: 0%;
    font-size: 30px;
    background-color: rgba(0,0,0, 0.5);
    border: 0;
    color: white;
    padding: 15px 23px;
    border-radius: 40px;
    cursor: pointer;
}

.add-button:hover{
    background-color: rgba(0, 0, 0, 0.75);
}

.add-button:active{
    background-color: rgba(0, 0, 0, 1);
}

.wide-col{
    width: 50%;
}

.slim-col{
    width: 25%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.action{
    display: inline;
    cursor: pointer;
}

/* Card styles */
.card{
    display: none;
    width: 500px;
    height: 600px;
    border-radius: 15px;
    background-color: white;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
}

.card h1{
    text-align: center;
    margin-bottom: 60px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border-el{
    border-radius: 5px;
    margin: auto;
    min-height: 50px;
    width: 85%;
    margin-top: 30px;
}

.border-el legend {
    margin-left: 10px;
    padding: 0px 5px;
}

.border-el textarea{
    resize: none;
    border-color: transparent;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.border-el input[type="date"]{
    width: 97%;
    height: 30px;
    border: 0;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    font-size: 18px;
}


.margin-extra{
    margin-top: 100px;
}

.add-task-button{
    position:fixed;
    bottom: 70px;
    left: 0;
    font-size: 18px;
    padding: 15px 25px;
    margin-left: 70px;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.add-task-button:hover{
    background-color: black;
    color: white;
}

.bi-x{
    font-size: 30px;
    float: right;
}

.bi-x:hover{
    cursor: pointer;
}

.danger{
    margin-left: 25px;
    color: red;
    display: none;
}
